<div class="container-fluid">
  <app-appointment-form></app-appointment-form>
  <!-- <div class="row">
    <div class="col">
      <h3>Pick a day</h3>
      <app-datepicker (chooseDateEvent)="setDate($event)"></app-datepicker>
    </div>
    <div class="col">
      <h3>Pick a time</h3>
      <app-timepicker></app-timepicker>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary" (click)="onCheckAvailability(appointmentDate, time)">Check availability</button>
    </div>
  </div> -->
</div>
