<div class="form-group">
  <ngb-timepicker #tp class="w-100" name="appointmentTime"
    [(ngModel)]="time"
    [spinners]="false"
    [meridian]="true"
    [minuteStep]="30">
  </ngb-timepicker>
  <!-- <ngb-timepicker required></ngb-timepicker> -->
  <div *ngIf="ctrl.valid" class="small form-text text-success">
    Great choice <pre>{{tp}}</pre>
  </div>
  <div class="small form-text text-danger" *ngIf="!ctrl.valid">
    <div *ngIf="ctrl.errors['required']">Select some time during lunchtime</div>
    <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
    <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
  </div>
</div>
